# Virtual environment folders
.venv/
venv/
env/

# Local environment files
.env

# Python bytecode
__pycache__/
*.py[cod]

# Model files
*.pkl
*.pth

# Jupyter Notebook checkpoints (optional)
.ipynb_checkpoints/

# VS Code settings (optional)
.vscode/
# Other files (optional)
.node_modules/
.angular/*

# Angular cache
.angular/

# Node modules
node_modules/

# Output
dist/
out-tsc/

# IDE files
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
src/environments/*.ts
!src/environments/environment.prod.ts
