<div class="page">
    <div class="AuthContainer">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            
            <div class="AuthForm">
                <div>
                    <label for="">UserName :</label>
                    <input type="text" name="" value="">
                </div>
                <br>
                <div>
                    <label for="">Password : </label>
                    <input type="password" name="" value="">
                </div>
                <br>
                <br>
                <div class="buttonContainer">
                    <button type="onSubmit()">Login</button>
                    <button type="" (click)="NavigateToSignUp()">Sign In</button>
                </div>
            </div>
        </form>

            
    </div>
    
</div>