<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form [formGroup]="CustomerModel.formCustomerGroup">
            coustemer code : <input [(ngModel)]="CustomerModel.CustomerCode" type="text" name="" formControlName="CustomerCodeControle"><br/>
            coustemer Name : <input [(ngModel)]="CustomerModel.CustomerName" type="text" name="" value="" formControlName="CustomerNameControle"><br/>
            <!-- coustemer Amount : <input [(ngModel)]="CustomerModel.CustomerAmount" type="number" name="" value="" formControlName="CustomerNameControle"><br/> -->
            coustemer Amount : <input [(ngModel)]="CustomerModel.CustomerAmount" type="number" name="" value="" [ngModelOptions]="{standalone:true}"><br/>
            <button (click)="Add()" type="" [disabled]="!(CustomerModel.formCustomerGroup.valid)">Add</button>
            <button (click)="Delete()" type="" [disabled]="CustomerModels.length==0">Delete</button>
        </form>
        <!-- <h1 *ngIf="CustomerModel.formCustomerGroup.dirty" [hidden]="!(CustomerModel.formCustomerGroup.controls['CustomerCodeControle'].hasError('pattern'))">Code is required in numeric between 4 to 8 charecter</h1> -->
        <h1 *ngIf="CustomerModel.formCustomerGroup.dirty" [hidden]="!(hasError('pattern','CustomerCodeControle'))">Code is required in numeric between 4 to 8 charecter</h1>
        <!-- <h1 *ngIf="CustomerModel.formCustomerGroup.dirty" [hidden]="!(CustomerModel.formCustomerGroup.controls['CustomerNameControle'].hasError('required'))">Name is required</h1> -->
        <h1 *ngIf="CustomerModel.formCustomerGroup.dirty" [hidden]="!(hasError('required','CustomerNameControle'))">Name is required</h1>
        <table>
            <tr>
        
                <th>Code</th>
                <th>Name</th>
                <th>Amount</th>
            </tr>
            <tr *ngFor="let Cust of CustomerModels">
                <td>{{Cust.CustomerCode}}</td>
                <td>{{Cust.CustomerName}}</td>
                <td>{{Cust.CustomerAmount}}</td>
        
            </tr>
        </table>
    </body>
</html>