<style>
   
</style>
<div class="body">
    <form (ngSubmit)="onSubmit()">
        <label for="">Name : </label><input type="text" name="Name" value="" [(ngModel)]="data.text_input"><br><br>
        <label for="">Selected : </label><input type="checkbox" name="Select" value=""[(ngModel)]="data.bool_input"><br><br>
        <label for="">PDF :</label><input type="file" name="Pdf" value="" (change)="onPdfFileSelected($event)"><br><br>
        <label for="">Photo :</label><input type="file" name="Photo" value="" (change)="onPhotoFileSelected($event)"><br><br>
        <label for="">CSV File :</label><input type="file" name="CSV" value="" (change)="onCSVSelected($event)"><br><br>
        <button type="Submmit">Submmit</button>
        
    </form>
</div>