<div class="page">
    <div class="AuthContainer">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()"> 
            <div class="AuthForm">
                <div>
                    <label for="">UserName  :    </label>
                    <input type="text" name="" value="" formControlName="user_name"/>
                </div>
                <br>
                <div>
                    <label for="">Password  :   </label>
                    <input type="password" name="" value="" formControlName="password"/>
                </div>
                <br>
                <div>
                    <label for="">Email ID  :   </label>
                    <input type="Email" name="" value="" formControlName="Email"/>
                </div>
                <br>
                <div>
                    <label for="">Mobile Number :   </label>
                    <input type="number" name="" value="" formControlName="PhoneNumber"/>
                </div>
                <br>
                <br>
                <div class="buttonContainer">
                    <div>
                        
                    </div>
                    <button type="">Submit</button>
                </div>
            </div>
        </form>

            
    </div>
    
</div>