<div>
    <h2>{{ newPerson.id ? 'Edit' : 'Add' }} Person</h2>
    <form (ngSubmit)="addPerson()">
      <label>
        Name:
        <input type="text" [(ngModel)]="newPerson.name" name="name" required>
      </label>
      <label>
        Age:
        <input type="number" [(ngModel)]="newPerson.age" name="age" required>
      </label>
      <button type="submit">{{ newPerson.id ? 'Update' : 'Add' }}</button>
      <button type="button" (click)="cancelEdit()">Cancel</button>
    </form>
</div>
  